EMAIL_USER=speedupservicesofficial@gmail.com
EMAIL_PASS="tmey ugza fbiu uily"
CONTACT_RECEIVER=speedupservicesofficial@gmail.com
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173
